.news-container {
  color: #fff;
  height: 120px;
  width: 100%;
  overflow: hidden;
}

.news-header {
  font-size: 13pt;
  line-height: 25pt;
  max-height: 25pt;
  font-weight: 200;
  overflow: hidden;
}

.news-content {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.55em;
  line-height: 1.2em;
}

.news-grid {
  width: calc(100% - 60px);
  margin-left: 60px;
}

.vote-grid {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 120px;
}

.vote-icon {
  margin: auto;
  font-size: 30px;
}

.vote-count {
  margin: auto;
  font-size: 23px;
  font-weight: 200;
}

.news-bottom-row {
  height: 15px;
  font-weight: 200;
  font-size: 12px;

}
