.news-container {
  color: #fff;
  width: 100%;
  overflow: hidden;
  min-height: 100px;
}

.news-header {
  font-size: 12pt;
  line-height: 14pt;
  max-height: 27pt;
  margin-bottom: 8px;
  font-weight: 600;
  overflow: hidden;
}

.news-content {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.9em;
  line-height: 1.25em;
  font-weight: 400;
}

.news-content-col {
  margin:0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.vote-content-col {
  margin:0;
  padding: 0;
  align-items: center;
  display: flex;
  padding-left: 10px;
  max-width: 40px;
}

.link-content-col {
  margin:0;
  padding: 0;
  align-items: center;
  display: flex;
  padding-left: 10px;
  max-width: 40px;
  font-size: 20px;
  cursor: pointer;
}

.news-col {
  padding-left: 10px;
  min-width: calc(100% - 40px);
  cursor: pointer;
}

.news-vote-button {
  height: 30px;
  text-align: center;
}

.news-vote-icon {
  margin: auto;
  font-size: 30px;
  cursor: pointer;
}

.news-vote-count {
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  font-weight: 200;
}


.vote-panel {

}

.news-footer-text {
  font-weight: 200;
  font-size: 13px;
  padding-bottom: 2px;
}