<ion-grid class="news-container" [style.background-color]="getBackground()">

  <ion-row>
    <ion-col class="vote-content-col" col-1>
      <div class="vote-panel">
        <ion-row class="news-vote-button">
          <ion-icon
            (click)="newsService.voteNews(newsItem, 1)"
            class="news-vote-icon"
            name="ios-arrow-up"
            [style.opacity]="newsItem.currentUserVote == -1 ? 0.2 : 1.0"
          ></ion-icon>
        </ion-row>
        <ion-row class="news-vote-button">
          <div class="news-vote-count">
            {{newsItem.votes}}
          </div>
        </ion-row>
        <ion-row class="news-vote-button">
          <ion-icon
            (click)="newsService.voteNews(newsItem, -1)"
            class="news-vote-icon"
            name="ios-arrow-down"
            [style.opacity]="newsItem.currentUserVote == 1 ? 0.2 : 1.0">
          </ion-icon>
        </ion-row>
      </div>
    </ion-col>

    <ion-col class="news-col" (click)="openNews()" col-11>
      <ion-row style="margin-bottom: 20px">
        <ion-col class="news-content-col">
          <div class="news-header" [innerHtml]="titleHTML"></div>
          <div class="news-content" [innerHtml]="contentHTML"></div>
        </ion-col>
      </ion-row>
      <ion-row style="position: absolute; bottom: 0; width: 100%">
        <ion-col class="news-footer-text">
          {{newsItem.source}}
        </ion-col>
        <ion-col class="news-footer-text">
          {{newsItem.pubDate | dateFormatter}}
        </ion-col>
      </ion-row>
    </ion-col>

    <!--<ion-col class="link-content-col" col-1>-->
      <!--<ion-icon (click)="openNews()" name="ios-open-outline"></ion-icon>-->
    <!--</ion-col>-->
  </ion-row>
  <!--<ion-row>-->
    <!--<ion-col>-->
      <!--test-->
    <!--</ion-col>-->
    <!--<ion-col>-->
      <!--test-->
    <!--</ion-col>-->
  <!--</ion-row>-->

</ion-grid>
