.login-modal-top {
  padding: 20px;
  color: #fff;
}

.login-modal-title {
  font-weight: 400;
  font-size: 28px;
}

.login-modal-desc {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 15px;
}

.header-icon {
  font-size: 20px;
  vertical-align: middle;
  margin: auto;
  margin-right: 5px;
}

.bottom-button-pane {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bottom-button {
  margin: auto;
  width: 100%;
}

.close-button {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  margin: auto;
  margin-right: 5px;
  position: absolute;
  right: 10px;
}