.news-feed-box {
  color: #fff;
  font-weight: 400;
}

.news-feed-title {
  font-size: 20px;
  font-weight: 200;
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  margin-bottom: 5px;
}

.item-inner {
  border-bottom: none !important;
}